

body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.help-poor-people{
height: 500px;
background-image: url(images/donation3.jpg);
background-size: cover;
text-align: center;
opacity: 0.8;
}
.donate-to-help{
    text-align: center;
    color: white;
    padding-top: 100px;
    font-weight: bold;
    font-size: 40px;
}
p{
    color: white;
    padding-top: 20px;
    text-align: center;
}
.donate-now{
    text-decoration: none;
    background-image: linear-gradient(rgb(221, 64, 20),rgb(200, 83, 50));
    padding: 10px 20px;
    margin: 60px;

}
.amount{
    display: inline-block;
    width:10%;
    padding: 2%;
    height: 80px;
    background-color: rgb(224, 219, 219);
    text-align: center;
    margin-bottom: 60px;
}
.amount-div{
  
    justify-content: center;
    margin: auto;
    text-align: center;
}
.highlighted{
    border: 5px solid orangered;
}
.other-amount{
    color: gray;
    text-align: center;
}
.donate{
    text-align: center;
    padding-top: 20px;
}
.donation-plan1{
    display: inline-block;
    width: 20%;
    padding: 15px;
    margin-left: 80px;
    margin-top: 50px;
    text-align: center;
    background-color: aquamarine;
}
.donation-plan2{
    display: inline-block;
    width: 20%;
    padding: 15px;
    margin-left: 80px;
    margin-top: 50px;
    text-align: center;
    background-color: rgb(122, 198, 40);
}
.donation-plan3{
    display: inline-block;
    width: 20%;
    padding: 15px;
    margin-left: 80px;
    margin-top: 50px;
    text-align: center;
    background-color: rgb(215, 153, 29);

}
.subscribe{
    width: 60%;
    margin: auto;
    height: 200px;
    background-color: bisque;

}
.email{
    margin:100px 100px;
}
.relief-food{
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
 }
 .exp-dev{
    width:40%;
    margin: 5%;
    box-shadow: 10px 10px 20px olivedrab;
    border-left: 5px solid orange;
 }
 .disaster-relief{
    display: flex;
    margin: 100px;
}
.disaster{
    background-image: url(images/dream-bg.png);
background-position: right;
    background-repeat: no-repeat;
}
.img{
    width:500px;
    height: 300px;

}
.how-to-contribute{
    text-decoration: none;
    background-image: linear-gradient(orangered,orange);
    padding: 10px 20px;
    margin-left: 0;
}
.footer{
    height: 100px;
    background-color: black;
    background-size: cover;
    margin: 0%;
}
.footer-h3{
    padding-top: 10px;
    padding-bottom: 2px;
    text-align: center;
}
.subscribe{
    display: flex;
    margin: auto;


}
.button{
    background-image: linear-gradient(orangered rgb(148, 20, 108) );
    background-color: orange;
    width: 70px;
    height: 30px;
    text-align: center;
    margin-top:95px;
    margin-left: 2px;

}
.email{
    margin-right: 0;
    padding: 10px 20px;
    margin-left:80px

}